{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <title>Birdgram</title>
</head>
<body>
    <div id = "left_bar"></div>
        <div id="home_div">
            <image id = "home_icon" src="{% static 'app/images/home.png' %}" alt="Home Image"></image>
            <p id = "home"> Home </p>
        </div>
        <div id="profile_div">
            <image id = "profile_icon" src="{% static 'app/images/profile.png' %}" alt="Profile Image"></image>
            <p id = "profile"> Profile </p>
        </div>
        <div id="search_div">
            <image id = "search_icon" src="{% static 'app/images/search.png' %}" alt="Search Image"></image>
            <p id = "search"> Search </p>
        </div>
        <div id="messages_div">
            <image id = "messages_icon" src="{% static 'app/images/messages.png' %}" alt="Messages Image"></image>
            <p id = "messages"> Messages </p>
        </div>
        <p id="posts">Posts</p>
</body>
</html>