{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'app/styles.css' %}">
        <title>Birdgram</title>
    </head>
    <body>
        {% block body_index %}
            <script src="{% static 'portfoliov3/script.js' %}"></script>
            {% for post in posts %}
                <div class = "post">
                    <h2 class="post_title">{{post.title}}</h2>
                    <p class="post_description">{{post.description}}</p>
                    <img src="{{post.image}}" class="post_image">
                    <div class="end_post_line"></div>
                </div>
            {% endfor %}

            {% endblock %}
    </body>
</html>